@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');

.main{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
    background-color: #ffdbac;
    font-family: 'Space Grotesk', sans-serif;
    padding: 0 1rem;
}

.shortener{
    margin: 0 auto;
    background-color:#c68642;
    border-radius: 1.5rem;
    border: 8px solid #8D5524;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.shortener__title{
    font-size: 4rem;
    font-weight: 700;
    color: #402005;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.shortener__text{
    font-size: 2rem;
    font-weight: 500;
    color: #402005;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.shortener__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.shortener__input{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 8px solid #8D5524;
    width: 100%;

    font-weight: 600;
    color: #402005;
}

.shortener__input::placeholder{
    font-size: 0.6rem;
    font-weight: 500;
    color: #858585;
    text-transform: uppercase;
    text-align: center;
}

.shortener__input:focus{
    outline: none;
}

.shortener__btn{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 8px solid #8D5524;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    color: #402005;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.shortener__btn:hover{
    background: #E0AC69;
}

.result{
    margin-top: 2rem;


    font-size: 1.8rem;
    font-weight: 500;
    color: #402005;
    letter-spacing: 0.1rem;
    text-transform: uppercase;;
}


@media (max-width: 620px) {

    .shortener{

        padding: 2rem;
    }

    .shortener__title{
        font-size: 2.4rem;

    }

    .shortener__text{
        font-size: 1.2rem;

    }

    .result{
        font-size: 1.3rem;
    }
}

@media (max-width: 425px) {

    .shortener__btn{
        padding: 1rem 2rem;
        border-radius: 1rem;

        cursor: pointer;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;

    }

    .result{
        font-size: 1rem;

        letter-spacing:normal;
        text-transform: none;;
    }

}